<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="static/registration.css">
    <!-- Путь к файлу стилей -->
</head>
<body>
<div class="container">
    <form action="/login" method="post">
        <input type="email" class="registration-form"  name="email" placeholder="Почта" required><br>
        <input type="password" class="registration-form"  name="password" placeholder="Пароль" required><br>
        <button type="submit" class="registration-form">Войти</button>
    </form>
</div>
</body>
</html>
